<div ng-app="app">
  <div ng-controller="peopleCtrl" ng-init="setup()">
    <div>
      <datalist id="names">
        <option ng-repeat="person in people">{{person.name}}</option>
        <option ng-repeat="person in people">{{person.bio}}</option>           
      </datalist>
      Filter: <input ng-model="personFilter" list="names">    
    </div>
    <div>
      <button ng-click="toggleByAttribute('name')">Sort By Name</button>
      <button ng-click="toggleByAttribute('bio')">Sort By Bio</button>
    </div>

   
    <div ng-repeat="person in people | filter: personFilter | orderBy:orderAttribute:descending">
      <h2 ng-click="toggleBio(person)">{{person.name}}</h2>
      <p ng-if="person.bioVisible">{{person.bio}}</p>
      <button ng-click="deletePerson(person)">Delete Person (aka kill)</button>
    </div>

    <div>
      <div ng-repeat="error in errors">{{error}}</div>
      <div>
        Name: <input ng-model="newName">
      </div>
      <div>
        Bio: <input ng-model="newBio">
      </div>
      <button ng-click="addPerson(newName, newBio)">Add Person</button>
    </div>
    <div>Total Number of People {{people.length}}</div>
  </div>
</div>
